
<section class="pt-5">
  <h2 class="display-4 text-center"><%=current_user.username %>'s Dream Collection</h2>

  <% if flash.has?(:dream_index) %>
  <div class="alert alert-warning" role="alert">
    <%= flash[:dream_index] %>
  </div>
  <% end %>

  <% all_dreams = @dreams.sort_by {|dream| dream.dream_date}.reverse %>

  <div class="list-group-flush w-75 mx-auto pt-5">
    <%all_dreams.each do |dream|%>
    <li class="list-group-item list-group-item-action flex-column align-items-start py-4">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= dream.name %></h5>
        <% if dream.dream_date %>
          <small>Dream Date: <%=dream.dream_date.strftime("%m-%d-%Y")%></small>
        <% end %>
      </div>
      <p class="mb-1"><%= dream.dream_details[0,350] %>...</p>
      <small>Themes:
        <%dream.themes.each do |theme|%>
        <a class="d-inline" href="/themes/<%=theme.slug%>"><%=theme.name%></a>
        <% end %>
      </small>
      <div class="card-footer pl-0">
        <a href="/dreams/<%=dream.slug%>" class="btn btn-info mt-3">Visit Dream</a>
      </div>
    </li>
    <%end%>
  </div>
</section>
