<section class="mx-5 pt-5">
  <h2>Edit Dream: <%= @dream.name %></h2>
  <hr>

<form method="post" action="/dreams/<%=@dream.slug%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <div class="form-group row">
    <label for="dreamDetails" class="col-sm-2 col-form-label"><strong>Dream Details</strong></label>
    <div class="col-sm-10">
      <textarea class="form-control" name="dream[dream_details]" value="<%= @dream.dream_details %>" id="dreamDetails" rows="7"><%= @dream.dream_details %></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputDate" class="col-sm-2 col-form-label"><strong>Dream Date</strong></label>
    <div class="col-sm-10">
      <input type="date" name="dream[dream_date]" class="form-control" id="inputDate" value="<%=@dream.dream_date%>">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2"><strong>Themes</strong></div>
    <div class="col-sm-10">
      <%Theme.all.each do |theme|%>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="dream[theme_ids][]" value="<%=theme.id%>" <%='checked' if @dream.themes.include?(theme) %>>
        <label class="form-check-label" for="gridCheck1">
          <%=theme.name%>
        </label>
      </div>
      <%end%>
    </div>
  </div>
  <div class="form-group row">
    <label for="newTheme" class="col-sm-2 col-form-label"><strong>Add a New Theme</strong></label>
    <div class="col-sm-10">
      <input class="form-ccontrol" type="text" name="theme[name]">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-info">Submit</button>
    </div>
  </div>
</form>
</section>
