<section class="pt-5 w-75 mx-auto">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%=@dream.name%></h5>
      <% if @dream.dream_date %>
        <h6 class="card-subtitle mb-2 text-muted"><%=@dream.dream_date.strftime("%m-%d-%Y")%></h6>
      <% end %>
      <p class="card-text"><%=@dream.dream_details%></p>
      <%@dream.themes.each do |theme|%>
        <span class="card-text px-1"><a href="/themes/<%=theme.slug%>"><%=theme.name%></a></span>
      
        <p><%= theme.description %></p>
      <%end%>
      <div class="mt-3">
        <a href="/dreams/<%=@dream.slug%>/edit" class="btn btn-info">Edit Dream</a>

        <form method="post" action="/dreams/<%=@dream.slug%>/delete" class="d-inline">
          <input id="hidden" type="hidden" name="_method" value="DELETE">
          <input class="btn btn-info" type="submit" value="Delete Dream">
        </form>
      </div>
    </div>
  </div>
</section>
