<h2><%=@dream.name%></h2>
<p><%=@dream.dream_date.strftime("%m-%d-%Y")%></p>

<p><%=@dream.dream_details%></p>
<%@dream.themes.each do |theme|%>
<p><%=theme.name%></p>
<%end%>

<form method="post" action="/dreams/<%=@dream.slug%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Dream">
</form>

<a href="/dreams/<%=@dream.slug%>/edit">Edit Dream</a>
