
<section class="pt-5 w-75 mx-auto">
  <h2><%= @theme.name %></h2>
  <p>Total number of dreams with a <%= @theme.name %> theme: <%= @dream_theme_count %></p>
  <p>When you dreamed about <%= @theme.name %>, you also dreamed about:</p>
  <% @dname = [] %>
  <% @theme.dreams.map do |dream| %>

    <% dream.themes.map do |theme| %>

      <%@dname << theme.name %>

    <% end %>

  <% end %>
  <% same_dream = @dname.uniq.reject{|theme| theme == @theme.name } %>
  <%= same_dream.join(", ") %>
</section>
